# Section 1: Create Cleaning Algorithm (Nazzerine)

In [2]:
@author Nazzerine Waldon 
import pandas as pd  
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import re
import numpy as np
from nltk.tokenize import WordPunctTokenizer

t = WordPunctTokenizer()

#regular expressions to take out links, @ symbols, improper unicode, open contractions, remove BOM
pattern_1 = r'@[A-Za-z0-9_]+'
pattern_2 = r'https?://[^ ]+'
combo = r'|'.join((pattern_1, pattern_2))
negs = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "didn't":"did not", "can't":"can not","couldn't":"could not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not",
                "shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
pattern_of_neg = re.compile(r'\b(' + '|'.join(negs.keys()) + r')\b')
www = r'www.[^ ]+'

def clean_tweet(tweet):
    #use beautiful soup to convert text to lxml
    bs = BeautifulSoup(tweet, 'lxml')
    #GET text
    bsd = soup.get_text()
    
    #improper unicode
    try:
        rem = bsd.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        rem = bsd
    
    bare = re.sub(combo, '', rem)
    bare = re.sub(www, '', bare)
    small = bare.lower()
    neg_done = pattern_of_neg.sub(lambda x: negs[x.group()], small)
    letters = re.sub("[^a-zA-Z]", " ", neg_done)
    all_words = [x for x  in t.tokenize(letters) if len(x) > 1]
    return (" ".join(words)).strip()

# Section 2: Create candidate datasets

## Alabama

Kay Ivey

In [ ]:
#MUST HAVE TWITTER API CREDENTIALS TO RUN

%env TWITTER=/Users/niw0407/Desktop/twitter-files
from nltk.twitter import Twitter
tw = Twitter()
tw.tweets(keywords="kay ivey", to_screen=False, stream=False)

In [ ]:
from nltk.twitter.common import json2csv
with open('/Users/niw0407/twitter-files/tweets.20181129-125338.json') as fp:
    json2csv(fp, 'kay ivey.csv', ['text', 'location', ''])

In [20]:
import os
import csv
clean_tweet_texts = []
with open('Kay_Ivey.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

Tweets cleaned.

In [24]:
import pandas as pd
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Kay_Ivey.csv',encoding='utf-8')
csv = 'Kay_Ivey.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

                                                text
0  rt it is hard to remember that republicans wer...
1  rt in effort to break drug crime nexus awards ...
2  in effort to break drug crime nexus awards gra...
3  rt it is hard to remember that republicans wer...
4  rt it is hard to remember that republicans wer...

Walt Maddox

In [ ]:
tw.tweets(keywords="walt maddox", to_screen=False, stream=False)

In [65]:
with open('/Users/niw0407/twitter-files/tweets.20181128-162306.json') as fp:
    json2csv(fp, 'Walt_Maddox.csv', ['text'])

In [66]:
import os
import csv
clean_tweet_texts = []
with open('Walt_Maddox.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

Tweets cleaned.

In [67]:
import pandas as pd
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Walt_Maddox.csv',encoding='utf-8')
csv = 'Walt_Maddox.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

                                                text
0  the potential is there though in the governors...
1  and alabama chose kay ivey over walt maddox ma...
2        now playing pledging my love by walt maddox
3  rt mayor walt maddox has seen the city grow dr...
4  notice of commencement ngrantor walt disney im...

## Alaska

Mike Dunleavy

In [ ]:
tw.tweets(keywords="mike dunleavy", to_screen=False, stream=False)

In [10]:
with open('/Users/niw0407/twitter-files/tweets.20181128-162420.json') as fp:
    json2csv(fp, 'Mike_Dunleavy.csv', ['text'])

In [27]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Mike_Dunleavy.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
    
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Mike_Dunleavy.csv',encoding='utf-8')
csv = 'Mike_Dunleavy.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt just as gov bill walker inherited budget fr...
1  just as gov bill walker inherited budget from ...
2  the transition team for gov elect mike dunleav...
3  rt alaska next governor mike dunleavy is getti...
4  rt the warriors are off to start and fans are ...

Mark Begich

In [ ]:
tw.tweets(keywords="mark begich", to_screen=False, stream=False)

In [12]:
with open('/Users/niw0407/twitter-files/tweets.20181128-162507.json') as fp:
    json2csv(fp, 'Mark_Begich.csv', ['text'])

In [28]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Mark_Begich.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
    
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Mark_Begich.csv',encoding='utf-8')
csv = 'Mark_Begich.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  reminds me of when mark begich tried photo rad...
1  dr teller nikola tesla do some research or rea...
2  rt retweet if you support democrat mark begich...
3  rt breaking republican mike dunleavy wins race...
4  mark begich ak nbarbara boxer ca nsam brownbac...

## Arizona

Doug Ducey

In [ ]:
tw.tweets(keywords="doug ducey", to_screen=False, stream=False)

In [15]:
with open('/Users/niw0407/twitter-files/tweets.20181128-162620.json') as fp:
    json2csv(fp, 'Doug_Ducey.csv', ['text'])

In [29]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Doug_Ducey.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Doug_Ducey.csv',encoding='utf-8')
csv = 'Doug_Ducey.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  arizona supreme court justice clint bolick lob...
1  rt so now does clint bolick have to recuse him...
2  rt so now does clint bolick have to recuse him...
3  rt opinion why is supreme court justice engage...
4  rt so now does clint bolick have to recuse him...

David Garcia

In [ ]:
tw.tweets(keywords="david garcia", to_screen=False, stream=False)

In [17]:
with open('/Users/niw0407/twitter-files/tweets.20181128-162740.json') as fp:
    json2csv(fp, 'David_Garcia.csv', ['text'])

In [30]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('David_Garcia.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweets(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('David_Garcia.csv',encoding='utf-8')
csv = 'David_Garcia.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt two weeks before israel bombed gaza last ni...
1        parser webpack config fixes improvements db
2  parser javascript fixes improvements nfix brok...
3  rt games goals mls mvp mls all star ndavid vil...
4  rt from the moment he arrived in david villa e...

## Arkansas

Asa Hutchinson

In [ ]:
tw.tweets(keywords="asa hutchinson", to_screen=False, stream=False)

In [33]:
from nltk.twitter.common import json2csv
with open('/Users/niw0407/twitter-files/tweets.20181128-163250.json') as fp:
    json2csv(fp, 'Asa_Hutchinson.csv', ['text'])

In [34]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Asa_Hutchinson.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Asa_Hutchinson.csv',encoding='utf-8')
csv = 'Asa_Hutchinson.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  and asa is wondering where all the people have...
1  arkansas governor asa hutchinson has proposed ...
2                                           this guy
3  rt arkansas governor asa hutchinson and others...
4  you re never too old to start learning and you...

Jared Henderson

In [ ]:
tw.tweets(keywords="jared henderson", to_screen=False, stream=False)

In [35]:
with open('/Users/niw0407/twitter-files/tweets.20181128-163339.json') as fp:
    json2csv(fp, 'Jared_Henderson.csv', ['text'])

In [36]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Jared_Henderson.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Jared_Henderson.csv',encoding='utf-8')
csv = 'Jared_Henderson.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt somehow still in touch henderson needs to c...
1  it crazy looking back at all the people you us...
2  wku chapter of alpha epsilon delta aed inducte...
3  rt rickey henderson career stolen bases compar...
4  rt favorite sweet memory playing for henderson...

## California

Gavin Newsom

In [ ]:
tw.tweets(keywords="gavin newsom", to_screen=False, stream=False)

In [25]:
with open('/Users/niw0407/twitter-files/tweets.20181128-163435.json') as fp:
    json2csv(fp, 'Gavin_Newsom.csv', ['text'])

In [37]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Gavin_Newsom.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Gavin_Newsom.csv',encoding='utf-8')
csv = 'Gavin_Newsom.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  tune in to manatt webinar to learn more about ...
1  rt and it only going to get worse gavin newsom...
2  rt gavin newsom you ll hear from me on housing...
3  rt gavin newsom you ll hear from me on housing...
4  rt fact dreamers can have two misdemeanor conv...

John Cox

In [ ]:
tw.tweets(keywords="john cox", to_screen=False, stream=False)

In [26]:
with open('/Users/niw0407/twitter-files/tweets.20181128-163526.json') as fp:
    json2csv(fp, 'John_Cox.csv', ['text'])

In [38]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('John_Cox.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('John_Cox.csv',encoding='utf-8')
csv = 'John_Cox.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt projection cox has defeated rep david valad...
1  another great evening in with club players ind...
2  rt cox statement scheduled for monday but now ...
3  rt cox statement scheduled for monday but now ...
4  voter fraud was rampant in california that how...

## Colorado

Jared Polls

In [ ]:
tw.tweets(keywords="jared polls", to_screen=False, stream=False)

In [28]:
with open('/Users/niw0407/twitter-files/tweets.20181128-165021.json') as fp:
    json2csv(fp, 'Jared_Polls.csv', ['text'])

In [39]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Jared_Polls.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Jared_Polls.csv',encoding='utf-8')
csv = 'Jared_Polls.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt saveshadowhunters notourlasthunt vote for s...
1  rt saveshadowhunters notourlasthunt vote for s...
2  rt saveshadowhunters notourlasthunt vote for s...
3  rt saveshadowhunters notourlasthunt vote for s...
4  rt saveshadowhunters notourlasthunt vote for s...

Walker Stapleton

In [ ]:
tw.tweets(keywords="walker stapleton", to_screen=False, stream=False)

In [30]:
with open('/Users/niw0407/twitter-files/tweets.20181128-165106.json') as fp:
    json2csv(fp, 'Walker_Stapleton.csv', ['text'])

In [40]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Walker_Stapleton.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Walker_Stapleton.csv',encoding='utf-8')
csv = 'Walker_Stapleton.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  was referring to elway donating to walker stap...
1  democrat kkk nrobert byrd nedward douglass whi...
2  scott walker stapleton is up better from saudi...
3  case in point newly bearded cogov runner up fi...
4  walker stapleton was candidate who never seeme...

## Connecticut

Ned Lamont

In [ ]:
tw.tweets(keywords="ned lamont", to_screen=False, stream=False)

In [36]:
with open('/Users/niw0407/twitter-files/tweets.20181128-165214.json') as fp:
    json2csv(fp, 'Ned_Lamont.csv', ['text'])

In [41]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Ned_Lamont.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Ned_Lamont.csv',encoding='utf-8')
csv = 'Ned_Lamont.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt the transition team of gov elect ned lamont...
1  nooyi gave to fellow greenwich resident ned la...
2  rt ned lamont interested in economic developme...
3  state venture capital fund selling itself to g...
4  it something would support and don want the bl...

Bob Stefanowski

In [ ]:
tw.tweets(keywords="bob stefanowski", to_screen=False, stream=False)

In [37]:
with open('/Users/niw0407/twitter-files/tweets.20181128-165345.json') as fp:
    json2csv(fp, 'Bob_Stefanowski.csv', ['text'])

In [42]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Bob_Stefanowski.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Bob_Stefanowski.csv',encoding='utf-8')
csv = 'Bob_Stefanowski.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  he was part of bob stefanowski transition team...
1  bob stefanowski is the talk of the president i...
2               bob stefanowski is the momentum with
3  because your tinfoil hat is crooked and you mi...
4                         bob stefanowski is the dnc

## Florida

Ron DeSantis

In [ ]:
tw.tweets(keywords="ron desantis", to_screen=False, stream=False)

In [38]:
with open('/Users/niw0407/twitter-files/tweets.20181128-165910.json') as fp:
    json2csv(fp, 'Ron_DeSantis.csv', ['text'])

In [43]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Ron_DeSantis.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Ron_DeSantis.csv',encoding='utf-8')
csv = 'Ron_DeSantis.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  lobbyist brian ballard will chair gov elect ro...
1  ron desantis showed that have tough fighters a...
2  nurgent tell governor elect ron desantis that ...
3    ron desantis has strong family values thank god
4  rt don forget how badly embarrassed itself in ...

Andrew Gillum

In [ ]:
tw.tweets(keywords="andrew gillum", to_screen=False, stream=False)

In [40]:
with open('/Users/niw0407/twitter-files/tweets.20181128-170147.json') as fp:
    json2csv(fp, 'Andrew_Gillum.csv', ['text'])

In [44]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Andrew_Gillum.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Andrew_Gillum.csv',encoding='utf-8')
csv = 'Andrew_Gillum.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0    rt andrew gillum ends campaign for fla governor
1  andrew gillum said it best it like wrestling p...
2  rt there deep rooted racism surrounding beto l...
3  rt there deep rooted racism surrounding beto l...
4  andrew gillum stacy abrams beto rourke why is ...

## Georgia

Brian Kemp

In [ ]:
tw.tweets(keywords="brian kemp", to_screen=False, stream=False)

In [42]:
with open('/Users/niw0407/twitter-files/tweets.20181128-170255.json') as fp:
    json2csv(fp, 'Brian_Kemp.csv', ['text'])

In [45]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Brian_Kemp.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Brian_Kemp.csv',encoding='utf-8')
csv = 'Brian_Kemp.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt thank you for leading the charge for reform...
1  rt thank you for leading the charge for reform...
2  california is full of voter fraud no cali is b...
3  rt thank you for leading the charge for reform...
4  rt thank you for leading the charge for reform...

Stacey Abrams

In [ ]:
tw.tweets(keywords="stacey abrams", to_screen=False, stream=False)

In [44]:
with open('/Users/niw0407/twitter-files/tweets.20181128-170333.json') as fp:
    json2csv(fp, 'Stacey_Abrams.csv', ['text'])

In [46]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Stacey_Abrams.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Stacey_Abrams.csv',encoding='utf-8')
csv = 'Stacey_Abrams.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt thank you for leading the charge for reform...
1  rt stacey abrams allies just sued georgia over...
2  rt there deep rooted racism surrounding beto l...
3  rt breaking staceyabrams new voting rights org...
4  rt thank you for leading the charge for reform...

## Guam

Lourdes Guerrero

In [ ]:
tw.tweets(keywords="lourdes guerrero", to_screen=False, stream=False)

In [46]:
with open('/Users/niw0407/twitter-files/tweets.20181128-170445.json') as fp:
    json2csv(fp, 'Lourdes_Guerrero.csv', ['text'])

In [47]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Lourdes_Guerrero.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Lourdes_Guerrero.csv',encoding='utf-8')
csv = 'Lourdes_Guerrero.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  love her story nthe story of lourdes guerrero ...
1  rt moving aledmys diaz helps ease middle infie...
2  rt moving aledmys diaz helps ease middle infie...
3  rt moving aledmys diaz helps ease middle infie...

Ray Tenorio

In [ ]:
tw.tweets(keywords="ray tenorio", to_screen=False, stream=False)

In [48]:
with open('/Users/niw0407/twitter-files/tweets.20181128-170545.json') as fp:
    json2csv(fp, 'Ray_Tenorio.csv', ['text'])

In [48]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Ray_Tenorio.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Ray_Tenorio.csv',encoding='utf-8')
csv = 'Ray_Tenorio.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  statement from lt governor ray tenorio tony an...

## Hawaii

David Ige

In [ ]:
tw.tweets(keywords="david ige", to_screen=False, stream=False)

In [50]:
with open('/Users/niw0407/twitter-files/tweets.20181128-171308.json') as fp:
    json2csv(fp, 'David_Ige.csv', ['text'])

In [49]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('David_Ige.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('David_Ige.csv',encoding='utf-8')
csv = 'David_Ige.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt ige used to write that he led an army of yo...
1  hawaii governor david ige on buddhism and poli...
2  ige used to write that he led an army of young...
3                                         great read
4  hawaii governor david ige on buddhism and poli...

Andria Tupola

In [ ]:
tw.tweets(keywords="andria tupola", to_screen=False, stream=False)

In [52]:
with open('/Users/niw0407/twitter-files/tweets.20181128-171357.json') as fp:
    json2csv(fp, 'Andria_Tupola.csv', ['text'])

In [51]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Andria_Tupola.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Andria_Tupola.csv',encoding='utf-8')
csv = 'Andria_Tupola.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  the best part of my day was listening to kaui ...
1  opportunity for samoa to open facility samoa d...
2  map of the oahu precincts won by andria tupola...

## Idaho

Brad Little

In [ ]:
tw.tweets(keywords="brad little", to_screen=False, stream=False)

In [54]:
with open('/Users/niw0407/twitter-files/tweets.20181128-171452.json') as fp:
    json2csv(fp, 'Brad_Little.csv', ['text'])

In [52]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Brad_Little.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Brad_Little.csv',encoding='utf-8')
csv = 'Brad_Little.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  this will drive fans crazy nwhat they should d...
1  just little reminder love brad simpson more th...
2  right of centre covers lot of ground maajid nn...
3  some man for one man brad connell biggest punc...
4  looks like brad skipped tea having little nibb...

Paulette Jordan

In [ ]:
tw.tweets(keywords="paulette jordan", to_screen=False, stream=False)

In [6]:
with open('/Users/niw0407/twitter-files/tweets.20181129-125351.json') as fp:
    json2csv(fp, 'Paulette_Jordan.csv', ['text'])

In [53]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Paulette_Jordan.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Paulette_Jordan.csv',encoding='utf-8')
csv = 'Paulette_Jordan.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  one benewah county precinct had turnout with b...
1  love bernie and still support him but at the s...
2  precinct map of north idaho that displays paul...
3  wish paulette jordan had won but always next t...
4  paulette jordan and anybody who heritage makes...

## Illinois

J. B. Pritzker

In [ ]:
tw.tweets(keywords="j. b. pritzker, jb pritzker", to_screen=False, stream=False)

In [8]:
with open('/Users/niw0407/twitter-files/tweets.20181129-125646.json') as fp:
    json2csv(fp, 'J_B_Pritzker.csv', ['text'])

In [54]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('J_B_Pritzker.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('J_B_Pritzker.csv',encoding='utf-8')
csv = 'J_B_Pritzker.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt gov elect pritzker has tapped member educat...
1  rt gov elect pritzker has tapped member educat...
2  rt gov elect pritzker has tapped member educat...
3  rt gov elect pritzker has tapped member educat...
4  rt gov elect pritzker has tapped member educat...

Bruce Rauner

In [ ]:
tw.tweets(keywords="bruce rauner", to_screen=False, stream=False)

In [10]:
with open('/Users/niw0407/twitter-files/tweets.20181129-125735.json') as fp:
    json2csv(fp, 'Bruce_Rauner.csv', ['text'])

In [55]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Bruce_Rauner.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Bruce_Rauner.csv',encoding='utf-8')
csv = 'Bruce_Rauner.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  illinois lawmakers failed wednesday to reverse...
1  rt the illinois legislature has approved the s...
2  rt the illinois legislature has approved the s...
3  sad win for addiction illinois lawmakers do no...
4  rt governors who attacked and crippled unions ...

## Iowa

Kim Reynolds

In [ ]:
tw.tweets(keywords="kim reynolds", to_screen=False, stream=False)

In [12]:
with open('/Users/niw0407/twitter-files/tweets.20181129-125834.json') as fp:
    json2csv(fp, 'Kim_Reynolds.csv', ['text'])

In [56]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Kim_Reynolds.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Kim_Reynolds.csv',encoding='utf-8')
csv = 'Kim_Reynolds.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt governor kim reynolds of iowa suggested thi...
1  rt governor kim reynolds of iowa suggested thi...
2  rt let keep the conversation going on friday a...
3  rt victory pro life governor kim reynolds defe...
4  rt let keep the conversation going on friday a...

Fred Hubbell

In [ ]:
tw.tweets(keywords="fred hubbell", to_screen=False, stream=False)

In [14]:
with open('/Users/niw0407/twitter-files/tweets.20181129-130028.json') as fp:
    json2csv(fp, 'Fred_Hubbell.csv', ['text'])

In [57]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Fred_Hubbell.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Fred_Hubbell.csv',encoding='utf-8')
csv = 'Fred_Hubbell.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt victory pro life governor kim reynolds defe...
1  rt victory pro life governor kim reynolds defe...
2  rt iowa governor kim reynolds won full term by...
3  nsending off packet to you soon hoping it prom...
4      rt really wish fred hubbell won liked him ton

## Kansas

Laura Kelly

In [ ]:
tw.tweets(keywords="laura kelly", to_screen=False, stream=False)

In [16]:
with open('/Users/niw0407/twitter-files/tweets.20181129-130310.json') as fp:
    json2csv(fp, 'Laura_Kelly.csv', ['text'])

In [58]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Laura_Kelly.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Laura_Kelly.csv',encoding='utf-8')
csv = 'Laura_Kelly.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt you wonderful people are nominating us for ...
1  rt alex jones banned nlaura loomer banned njes...
2  rt breaking laura loomer sues twitter big leag...
3  rt instead of engaging with tropes about immig...
4  rt alex jones banned nlaura loomer banned njes...

Kris Kobach

In [ ]:
tw.tweets(keywords="kris kobach", to_screen=False, stream=False)

In [18]:
with open('/Users/niw0407/twitter-files/tweets.20181129-130403.json') as fp:
    json2csv(fp, 'Kris_Kobach.csv', ['text'])

In [59]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Kris_Kobach.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Kris_Kobach.csv',encoding='utf-8')
csv = 'Kris_Kobach.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt donald palmer trump nominee to the election...
1  rt donald palmer trump nominee to the election...
2  rt republican controlled congress should immed...
3  rt donald palmer trump nominee to the election...
4  rt donald palmer trump nominee to the election...

## Maine

Janet Mills

In [ ]:
tw.tweets(keywords="janet mills", to_screen=False, stream=False)

In [20]:
with open('/Users/niw0407/twitter-files/tweets.20181129-130505.json') as fp:
    json2csv(fp, 'Janet_Mills.csv', ['text'])

In [60]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Janet_Mills.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Janet_Mills.csv',encoding='utf-8')
csv = 'Janet_Mills.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt founding board member was recently elected ...
1  founding board member was recently elected as ...
2  will have to disclose transition donors in fir...
3  weeks before maine gov elect janet mills will ...
4  rt democrat janet mills easily won the maine g...

Shawn Moody

In [ ]:
tw.tweets(keywords="shawn moody", to_screen=False, stream=False)

In [22]:
with open('/Users/niw0407/twitter-files/tweets.20181129-130552.json') as fp:
    json2csv(fp, 'Shawn_Moody.csv', ['text'])

In [64]:
import os
import csv
import pandas as pd
clean_tweet_texts = []
with open('Shawn_Moody.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")
clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Shawn_Moody.csv',encoding='utf-8')
csv = 'Shawn_Moody.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt pays homage to lost in translation in moody...
1                                    and shawn moody
2  rt exclusive maine gov candidate shawn moody s...
3  you cant force some one out when their not rea...
4  massachusetts manufacturer wants to build new ...

## Maryland

Larry Hogan

In [ ]:
tw.tweets(keywords="larry hogan", to_screen=False, stream=False)

In [24]:
with open('/Users/niw0407/twitter-files/tweets.20181129-130756.json') as fp:
    json2csv(fp, 'Larry_Hogan.csv', ['text'])

In [69]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Larry_Hogan.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Larry_Hogan.csv',encoding='utf-8')
csv = 'Larry_Hogan.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  and first lady yumi hogan are inviting marylan...
1                               larry hogan is chode
2  correction it would be larry hogan would need ...
3  and first lady yumi hogan are inviting marylan...
4  and first lady yumi hogan are inviting marylan...

Ben Jealous

In [ ]:
tw.tweets(keywords="ben jealous", to_screen=False, stream=False)

In [68]:
with open('/Users/niw0407/twitter-files/tweets.20181129-130841.json') as fp:
    json2csv(fp, 'Ben_Jealous.csv', ['text'])

In [70]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Ben_Jealous.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Ben_Jealous.csv',encoding='utf-8')
csv = 'Ben_Jealous.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0                                     meanwhile next
1  gets in time machine back to exactly one month...
2  rt this just cracks me up not only was ben jea...
3  saying jealous when something good happens to ...
4  sportz buzz new pod dropping tonight nba quart...

## Massachusetts

Charlie Baker

In [ ]:
tw.tweets(keywords="charlie baker", to_screen=False, stream=False)

In [27]:
with open('/Users/niw0407/twitter-files/tweets.20181129-130959.json') as fp:
    json2csv(fp, 'Charlie_Baker.csv', ['text'])

In [71]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Charlie_Baker.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Charlie_Baker.csv',encoding='utf-8')
csv = 'Charlie_Baker.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt one of the mayors who endorsed charlie bake...
1  rt sergeant emond was highly decorated soldier...
2  rt one of the mayors who endorsed charlie bake...
3  one of the mayors who endorsed charlie baker m...
4  check out hot bike magazine harvey davidson ch...

Jay Gonzalez

In [ ]:
tw.tweets(keywords="jay gonzalez", to_screen=False, stream=False)

In [29]:
with open('/Users/niw0407/twitter-files/tweets.20181129-131429.json') as fp:
    json2csv(fp, 'Jay_Gonzalez.csv', ['text'])

In [72]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Jay_Gonzalez.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Jay_Gonzalez.csv',encoding='utf-8')
csv = 'Jay_Gonzalez.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt thurs pm free nbook launch the long hondura...
1  thurs pm free nbook launch the long honduran n...
2  good thing she aint have dat toolie nthis new ...
3  rt mets really gotta stop using their scouting...
4  rt mets really gotta stop using their scouting...

## Michigan

Gretchen Whitmer

In [ ]:
tw.tweets(keywords="gretchen whitmer", to_screen=False, stream=False)

In [31]:
with open('/Users/niw0407/twitter-files/tweets.20181129-131601.json') as fp:
    json2csv(fp, 'Gretchen_Whitmer.csv', ['text'])

In [73]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Gretchen_Whitmer.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Gretchen_Whitmer.csv',encoding='utf-8')
csv = 'Gretchen_Whitmer.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt the timing of the resignation means that re...
1  rt the timing of the resignation means that re...
2  rt the timing of the resignation means that re...
3  rt the timing of the resignation means that re...
4  rt the timing of the resignation means that re...

Bill Schuette

In [ ]:
tw.tweets(keywords="bill schuette", to_screen=False, stream=False)

In [33]:
with open('/Users/niw0407/twitter-files/tweets.20181129-131646.json') as fp:
    json2csv(fp, 'Bill_Schuette.csv', ['text'])

In [74]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Bill_Schuette.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Bill_Schuette.csv',encoding='utf-8')
csv = 'Bill_Schuette.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0                   congratulations to bill schuette
1  congratulations to bill schuette you will have...
2  our relationship with pakistan and its support...
3  rt in michigan gov race more than percent of a...
4  what are you talking about tons of candidates ...

## Minnesota

Tim Walz

In [ ]:
tw.tweets(keywords="tim walz", to_screen=False, stream=False)

In [76]:
with open('/Users/niw0407/twitter-files/tweets.20181129-131816.json') as fp:
    json2csv(fp, 'Tim_Walz.csv', ['text'])

In [78]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Tim_Walz.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Tim_Walz.csv',encoding='utf-8')
csv = 'Tim_Walz.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt lt gov elect and are hitting the road and h...
1  rt my partner and are hitting the road and hea...
2  rt peggy flanagan who is making history as min...
3  rt peggy flanagan who is making history as min...
4  liftoff walz flanagan day listening tour kicke...

Jeff Johnson

In [ ]:
tw.tweets(keywords="jeff johnson", to_screen=False, stream=False)

In [37]:
with open('/Users/niw0407/twitter-files/tweets.20181129-132147.json') as fp:
    json2csv(fp, 'Jeff_Johnson.csv', ['text'])

In [79]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Jeff_Johnson.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Jeff_Johnson.csv',encoding='utf-8')
csv = 'Jeff_Johnson.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  serious complained days ago that his family wa...
1  rt there may be more to this story using the p...
2  after facing life without parole for crime he ...
3  rt there may be more to this story using the p...
4  rt mike johnson of phoney wrestling informatio...

## Nevada

Steve Sisolak

In [ ]:
tw.tweets(keywords="steve sisolak", to_screen=False, stream=False)

In [39]:
with open('/Users/niw0407/twitter-files/tweets.20181129-132322.json') as fp:
    json2csv(fp, 'Steve_Sisolak.csv', ['text'])

In [80]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Steve_Sisolak.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Steve_Sisolak.csv',encoding='utf-8')
csv = 'Steve_Sisolak.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt is handing fully baked budget to his succes...
1  gov brian sandoval team has spent the last yea...
2  rt excited and honored to serve as member of g...
3  have what if question for followers following ...
4  excited and honored to serve as member of gove...

Adam Laxalt

In [ ]:
tw.tweets(keywords="adam laxalt", to_screen=False, stream=False)

In [41]:
with open('/Users/niw0407/twitter-files/tweets.20181129-132411.json') as fp:
    json2csv(fp, 'Adam_Laxalt.csv', ['text'])

In [81]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Adam_Laxalt.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Adam_Laxalt.csv',encoding='utf-8')
csv = 'Adam_Laxalt.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt trump backed candidates dean heller and ada...
1  rt trump backed candidates dean heller and ada...
2  rt trump backed candidates dean heller and ada...
3  rt trump backed candidates dean heller and ada...
4  rt heading to nevada to help man who has becom...

## Nebraska

Pete Ricketts

In [ ]:
tw.tweets(keywords="pete ricketts", to_screen=False, stream=False)

In [44]:
with open('/Users/niw0407/twitter-files/tweets.20181129-132535.json') as fp:
    json2csv(fp, 'Pete_Ricketts.csv', ['text'])

In [83]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Pete_Ricketts.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Pete_Ricketts.csv',encoding='utf-8')
csv = 'Pete_Ricketts.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt pete ricketts vetoed lb providing million i...
1  pete ricketts vetoed lb providing million in p...
2  any idea if this is the same source for nebras...
3  and when ride my bike through the center of ev...
4  do ever think about how much of dumbass pete r...

Bob Krist

In [ ]:
tw.tweets(keywords="bob krist", to_screen=False, stream=False)

In [46]:
with open('/Users/niw0407/twitter-files/tweets.20181129-132621.json') as fp:
    json2csv(fp, 'Bob_Krist.csv', ['text'])

In [84]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Bob_Krist.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Bob_Krist.csv',encoding='utf-8')
csv = 'Bob_Krist.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  the party chair who embraces ben nelson bob kr...
1  the weirdest part about the drinking at lunch ...
2  governor bob krist won the county by similar m...
3  rt the fake news media builds bob mueller up a...
4                   did bob krist also lose his seat

## New Hampshire

Chris Sununu

In [ ]:
tw.tweets(keywords="chris sununu", to_screen=False, stream=False)

In [48]:
with open('/Users/niw0407/twitter-files/tweets.20181129-132945.json') as fp:
    json2csv(fp, 'Chris_Sununu.csv', ['text'])

In [85]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Chris_Sununu.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Chris_Sununu.csv',encoding='utf-8')
csv = 'Chris_Sununu.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0                                                NaN
1  the republican primary voters in the post trum...
2  rt we need to make chris sununu one term gover...
3  sad to hear matt is bowing out guess chris sun...
4  gonna run for governor the second can specific...

Molly Kelly

In [ ]:
tw.tweets(keywords="molly kelly", to_screen=False, stream=False)

In [50]:
with open('/Users/niw0407/twitter-files/tweets.20181129-133024.json') as fp:
    json2csv(fp, 'Molly_Kelly.csv', ['text'])

In [86]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Molly_Kelly.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Molly_Kelly.csv',encoding='utf-8')
csv = 'Molly_Kelly.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt ladies if he getting dirty money stacking p...
1  incidentally dr kelly reddy best who molly tal...
2  think of all the great players to go through t...
3  or is vet tech already nandrea corey molly gri...
4                                     zack and kelly

## New Mexico

Michelle Lujan Grisham

In [ ]:
tw.tweets(keywords="michelle lujan grisham, michelle grisham", to_screen=False, stream=False)

In [52]:
with open('/Users/niw0407/twitter-files/tweets.20181129-133148.json') as fp:
    json2csv(fp, 'Michelle_Lujan_Grisham.csv', ['text'])

In [87]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Michelle_Lujan_Grisham.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Michelle_Lujan_Grisham.csv',encoding='utf-8')
csv = 'Michelle_Lujan_Grisham.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt working on some important stories now inclu...
1  working on some important stories now includin...
2  define blue wave vs blue dogs democrat michell...
3  michelle lujan grisham just another puppet pro...
4  rt the main missed post midterms narrative on ...

Steve Pearce

In [ ]:
tw.tweets(keywords="steve pearce", to_screen=False, stream=False)

In [54]:
with open('/Users/niw0407/twitter-files/tweets.20181129-133227.json') as fp:
    json2csv(fp, 'Steve_Pearce.csv', ['text'])

In [88]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Steve_Pearce.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Steve_Pearce.csv',encoding='utf-8')
csv = 'Steve_Pearce.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt so nobody told me that steve pearce tweeted...
1  rt congratulations steve pearce for being the ...
2  st louis has traded away picks and to detroit ...
3  the boston red sox sign steve pearce year mill...
4  rt months ago steve bannon went to jeffrey eps...

## New York

Andrew Cuomo

In [ ]:
%env TWITTER=/Users/niw0407/Desktop/twitter-files
from nltk.twitter import Twitter

tw = Twitter()
tw.tweets(keywords="andrew cuomo", to_screen=False, stream=False)

In [6]:
from nltk.twitter.common import json2csv
with open('/Users/niw0407/twitter-files/tweets.20181129-154926.json') as fp:
    json2csv(fp, 'Andrew_Cuomo.csv', ['id','text'])

In [89]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Andrew_Cuomo.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Andrew_Cuomo.csv',encoding='utf-8')
csv = 'Andrew_Cuomo.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt commentary at warns of carceral humanism wi...
1  rt in the end sure they will come to deal to h...
2  two strong contenders senator cory booker and ...
3  rt in the end sure they will come to deal to h...
4  rt in the end sure they will come to deal to h...

Marc Molinaro

In [ ]:
tw.tweets(keywords="marc molinaro", to_screen=False, stream=False)

In [59]:
with open('/Users/niw0407/twitter-files/tweets.20181129-133419.json') as fp:
    json2csv(fp, 'Marc_Molinaro.csv', ['text'])

In [90]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Marc_Molinaro.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Marc_Molinaro.csv',encoding='utf-8')
csv = 'Marc_Molinaro.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  the president had tougher words for cuomo repu...
1  you said at your rally you never forget about ...
2  decided do little math with the nys governor e...
3  the president had tougher words for cuomo repu...
4  rt trump says that marc molinaro who lost by p...

## Northern Mariana Islands

Ralph Torres

In [ ]:
tw.tweets(keywords="ralph torres", to_screen=False, stream=False)

In [61]:
with open('/Users/niw0407/twitter-files/tweets.20181129-133537.json') as fp:
    json2csv(fp, 'Ralph_Torres.csv', ['text'])

In [91]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Ralph_Torres.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Ralph_Torres.csv',encoding='utf-8')
csv = 'Ralph_Torres.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt ralph torres boisestate graduate has served...
1  ralph torres boisestate graduate has served as...
2  mr torres was para educator and assistant boys...
3  rt my work brother passed over the holiday he ...
4  rt one of the kindest guys knew growing up alw...

Juan Babauta = NO DATA :(

In [62]:
tw.tweets(keywords="juan babauta", to_screen=False, stream=False)

No Tweets available through REST API for those keywords
Written 0 Tweets

## Ohio

Mike DeWine

In [ ]:
tw.tweets(keywords="mike dewine", to_screen=False, stream=False)

In [64]:
with open('/Users/niw0407/twitter-files/tweets.20181129-133716.json') as fp:
    json2csv(fp, 'Mike_DeWine.csv', ['text'])

In [93]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Mike_DeWine.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Mike_DeWine.csv',encoding='utf-8')
csv = 'Mike_DeWine.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  how did ohioans who voted for sherrod brown sp...
1  thank you for expanding medicaid governor hope...
2  murderer gets let out thanks to mike dewine re...
3  rt pike county murders wagner family discussed...
4  rt about finally getting the direction and mec...

Richard Cordray

In [ ]:
tw.tweets(keywords="richard cordray", to_screen=False, stream=False)

In [66]:
with open('/Users/niw0407/twitter-files/tweets.20181129-133804.json') as fp:
    json2csv(fp, 'Richard_Cordray.csv', ['text'])

In [94]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Richard_Cordray.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Richard_Cordray.csv',encoding='utf-8')
csv = 'Richard_Cordray.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt more than one year after the resignation of...
1  rt more than one year after the resignation of...
2  rt more than one year after the resignation of...
3  rt more than one year after the resignation of...
4  more than one year after the resignation of ri...

## Oklahoma

Kevin Stitt

In [ ]:
tw.tweets(keywords="kevin stitt", to_screen=False, stream=False)

In [68]:
with open('/Users/niw0407/twitter-files/tweets.20181129-133850.json') as fp:
    json2csv(fp, 'Kevin_Stitt.csv', ['text'])

In [95]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Kevin_Stitt.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Kevin_Stitt.csv',encoding='utf-8')
csv = 'Kevin_Stitt.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt kenneth wagner gov elect kevin stitt appoin...
1  rt this just in after this photo surfaced of o...
2  rt kenneth wagner gov elect kevin stitt appoin...
3  rt this just in after this photo surfaced of o...
4  rt this just in after this photo surfaced of o...

Drew Edmondson

In [ ]:
tw.tweets(keywords="drew edmondson", to_screen=False, stream=False)

In [70]:
with open('/Users/niw0407/twitter-files/tweets.20181129-133944.json') as fp:
    json2csv(fp, 'Drew_Edmondson.csv', ['text'])

In [96]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Drew_Edmondson.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Drew_Edmondson.csv',encoding='utf-8')
csv = 'Drew_Edmondson.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  drew edmondson was the sag for state of oklaho...
1  was so happy to see my dear friends linda and ...
2  this makes my day drew would want to serve you...
3  same here drew edmondson democrat attorney gen...
4  rt oklaed teachers overwhelmingly favored edmo...

## Oregon

Kate Brown

In [ ]:
tw.tweets(keywords="kate brown", to_screen=False, stream=False)

In [72]:
with open('/Users/niw0407/twitter-files/tweets.20181129-134029.json') as fp:
    json2csv(fp, 'Kate_Brown.csv', ['text'])

In [97]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Kate_Brown.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Kate_Brown.csv',encoding='utf-8')
csv = 'Kate_Brown.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt awesome oregon democratic gov kate brown pr...
1  gov kate brown proposes cutting college fundin...
2  rt awesome oregon democratic gov kate brown pr...
3  submit for evidence my bisexual governor kate ...
4  poor old uncle sam noil stick wax on paper nka...

Knute Buehler

In [ ]:
tw.tweets(keywords="knute buehler", to_screen=False, stream=False)

In [74]:
with open('/Users/niw0407/twitter-files/tweets.20181129-134108.json') as fp:
    json2csv(fp, 'Knute_Buehler.csv', ['text'])

In [98]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Knute_Buehler.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Knute_Buehler.csv',encoding='utf-8')
csv = 'Knute_Buehler.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  nothing feels better than complaining we ve go...
1  rt finally am free to speak my truth about knu...
2  rt finally am free to speak my truth about knu...
3  rt finally am free to speak my truth about knu...
4  did rave review really shut down portland burg...

## Pennsylvania

Tom Wolf

In [ ]:
tw.tweets(keywords="tom wolf", to_screen=False, stream=False)

In [76]:
with open('/Users/niw0407/twitter-files/tweets.20181129-134155.json') as fp:
    json2csv(fp, 'Tom_Wolf.csv', ['text'])

In [ ]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Tom_Wolf.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Tom_Wolf.csv',encoding='utf-8')
csv = 'Tom_Wolf.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Scott Wagner

In [ ]:
tw.tweets(keywords="scott wagner", to_screen=False, stream=False)

In [78]:
with open('/Users/niw0407/twitter-files/tweets.20181129-134318.json') as fp:
    json2csv(fp, 'Scott_Wagner.csv', ['text'])

In [99]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Scott_Wagner.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Scott_Wagner.csv',encoding='utf-8')
csv = 'Scott_Wagner.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  starring jason scott lee lauren holly robert w...
1  rt kenneth wagner gov elect kevin stitt appoin...
2  icym kenneth wagner top epa official and longt...
3  rt rally cost trump has not paid rally was for...
4  never saw sheetz donating to scott wagner eith...

## Rhode Island

Gina Raimondo

In [ ]:
tw.tweets(keywords="gina raimondo", to_screen=False, stream=False)

In [80]:
with open('/Users/niw0407/twitter-files/tweets.20181129-134421.json') as fp:
    json2csv(fp, 'Gina_Raimondo.csv', ['text'])

In [100]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Gina_Raimondo.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Gina_Raimondo.csv',encoding='utf-8')
csv = 'Gina_Raimondo.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  in this her th and final governor ball as salv...
1  tonight ri gov gina raimondo to celebrate ligh...
2  rt rhode island governor gina raimondo signed ...
3  rt rhode island governor gina raimondo signed ...
4  the degenerate bet on gina raimondo now you kn...

Allan Fung

In [ ]:
tw.tweets(keywords="allan fung", to_screen=False, stream=False)

In [82]:
with open('/Users/niw0407/twitter-files/tweets.20181129-134520.json') as fp:
    json2csv(fp, 'Allan_Fung.csv', ['text'])

In [101]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Allan_Fung.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Allan_Fung.csv',encoding='utf-8')
csv = 'Allan_Fung.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  throwback to two months ago when mayor allan f...
1  rt log cabin republicans of rhode island respo...
2  allan fung won senate districts with majority ...
3  two weeks after failing at his second gubernat...
4  rt allan fung allan fung nfung please call for...

## South Carolina

Henry McMaster

In [ ]:
tw.tweets(keywords="henry mcmaster", to_screen=False, stream=False)

In [84]:
with open('/Users/niw0407/twitter-files/tweets.20181129-134615.json') as fp:
    json2csv(fp, 'Henry_McMaster.csv', ['text'])

In [102]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Henry_McMaster.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Henry_McMaster.csv',encoding='utf-8')
csv = 'Henry_McMaster.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt however this bill was vetoed by the governo...
1  follow your heart and energy into henry mcmast...
2        rt henry mcmaster wins santee cooper battle
3  rt the south carolina supreme court has ruled ...
4        donated by mcmaster henry of columbia sc on

James Smith

In [ ]:
tw.tweets(keywords="james smith", to_screen=False, stream=False)

In [ ]:
with open('/Users/niw0407/twitter-files/tweets.20181129-134653.json') as fp:
    json2csv(fp, 'James_Smith.csv', ['text'])

In [103]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('James_Smith.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('James_Smith.csv',encoding='utf-8')
csv = 'James_Smith.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt dean smith nearing decision on whether to o...
1  stephen smith is ranting that coach has recrui...
2  dean smith will make decision on whether to si...
3  rt james yorkston presents vashti bunyan audio...
4  aston villa boss dean smith nearing decision o...

## South Dakota

Kristi Noem

In [ ]:
tw = Twitter()
tw.tweets(keywords="kristi noem", to_screen=False, stream=False)

In [105]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140056.json') as fp:
    json2csv(fp, 'Kristi_Noem.csv', ['text'])

In [106]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Kristi_Noem.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Kristi_Noem.csv',encoding='utf-8')
csv = 'Kristi_Noem.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  gov elect kristi noem said thursday she seeks ...
1  in the midterms southdakota elected their firs...
2  house representative kristi noem sd voted for ...
3  south dakota expects constitutional carry with...
4  rt young kim first korean american elected to ...

Billie Sutton

In [ ]:
tw.tweets(keywords="billie sutton", to_screen=False, stream=False)

In [107]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140203.json') as fp:
    json2csv(fp, 'Billie_Sutton.csv', ['text'])

In [108]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Billie_Sutton.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Billie_Sutton.csv',encoding='utf-8')
csv = 'Billie_Sutton.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  in the midterms southdakota elected their firs...
1       rt there not one billie eilish song don like
2  beto rourke stacey abrams billie sutton these ...
3                    see billie sutton seat went red
4  billie sutton any number of individuals leadin...

## Tennessee

Bill Lee

In [ ]:
tw.tweets(keywords="bill lee", to_screen=False, stream=False)

In [93]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140256.json') as fp:
    json2csv(fp, 'Bill_Lee.csv', ['text'])

In [109]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Bill_Lee.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Bill_Lee.csv',encoding='utf-8')
csv = 'Bill_Lee.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt mike lee says mueller protection bill would...
1  michele kearney snuffysmith blog senate advanc...
2  rt amazing news the senate just voted in suppo...
3  rt amazing news the senate just voted in suppo...
4  rt amazing news the senate just voted in suppo...

Karl Dean

In [ ]:
tw.tweets(keywords="karl dean", to_screen=False, stream=False)

In [95]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140357.json') as fp:
    json2csv(fp, 'Karl_Dean.csv', ['text'])

In [110]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Karl_Dean.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Karl_Dean.csv',encoding='utf-8')
csv = 'Karl_Dean.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0                                                NaN
1  gato barbieri with don cherry karl berger bo s...
2  coach guess you re re to young to remember geo...
3  seth rollins dean ambrose roman reigns aj styl...
4  and the same mike dean that refereed it last s...

## Texas

Greg Abbott

In [ ]:
tw.tweets(keywords="greg abbott", to_screen=False, stream=False)

In [98]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140447.json') as fp:
    json2csv(fp, 'Greg_Abbott.csv', ['text'])

In [111]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Greg_Abbott.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Greg_Abbott.csv',encoding='utf-8')
csv = 'Greg_Abbott.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0                                  words greg abbott
1  change the way car insurance companies handle ...
2  there is something wrong with the system break...
3  texas governor greg abbott and bmi announce op...
4  thanks to rick perry and greg abbott who turne...

Lupe Valdez

In [ ]:
tw.tweets(keywords="lupe valdez", to_screen=False, stream=False)

In [100]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140605.json') as fp:
    json2csv(fp, 'Lupe_Valdez.csv', ['text'])

In [112]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Lupe_Valdez.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Lupe_Valdez.csv',encoding='utf-8')
csv = 'Lupe_Valdez.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  the mark taper forum production of valley of t...
1  think lupe valdez hurt beto more than people c...
2  thank goodness that fuck wit lupe valdez didn ...
3                                                NaN
4                                                NaN

## Vermont

Phil Scott

In [ ]:
tw.tweets(keywords="phil scott", to_screen=False, stream=False)

In [102]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140700.json') as fp:
    json2csv(fp, 'Phil_Scott.csv', ['text'])

In [113]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Phil_Scott.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Phil_Scott.csv',encoding='utf-8')
csv = 'Phil_Scott.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  laugh all you want but remember that genesis h...
1  rt part of the series on the pac posts in the ...
2  rt before there was tessa scott there was nish...
3        scott desperately trying to bleach his skin
4  rt im drawing dan and phil vs the world poster...

Christine Hallquist

In [ ]:
tw.tweets(keywords="christine hallquist", to_screen=False, stream=False)

In [104]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140807.json') as fp:
    json2csv(fp, 'Christine_Hallquist.csv', ['text'])

In [114]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Christine_Hallquist.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Christine_Hallquist.csv',encoding='utf-8')
csv = 'Christine_Hallquist.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  when saw the documentary for the first time it...
1  randy bryce aka ironstache christine hallquist...
2  no will continue ben jealous christine hallqui...
3  christine hallquist art of transgender politic...
4  love to shop but now that can do it freely it ...

## Wisconsin

Tony Evers

In [ ]:
tw.tweets(keywords="tony evers", to_screen=False, stream=False)

In [106]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140906.json') as fp:
    json2csv(fp, 'Tony_Evers.csv', ['text'])

In [115]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Tony_Evers.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Tony_Evers.csv',encoding='utf-8')
csv = 'Tony_Evers.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt wow wisconsin republicans may be considerin...
1  rt instead of being sore losers republicans in...
2  rt instead of being sore losers republicans in...
3  rt wow wisconsin republicans may be considerin...
4  rt look alive wisconsin democrats nyou success...

Scott Walker

In [ ]:
tw.tweets(keywords="scott walker", to_screen=False, stream=False)

In [108]:
with open('/Users/niw0407/twitter-files/tweets.20181129-140945.json') as fp:
    json2csv(fp, 'Scott_Walker.csv', ['text'])

In [116]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Scott_Walker.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Scott_Walker.csv',encoding='utf-8')
csv = 'Scott_Walker.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  rt be aware wisconsin republicans attempting t...
1  rt be aware wisconsin republicans attempting t...
2  rt be aware wisconsin republicans attempting t...
3  rt be aware wisconsin republicans attempting t...
4  rt be aware wisconsin republicans attempting t...

## Wyoming

Mark Gordon

In [ ]:
tw.tweets(keywords="mark gordon", to_screen=False, stream=False)

In [110]:
with open('/Users/niw0407/twitter-files/tweets.20181129-141029.json') as fp:
    json2csv(fp, 'Mark_Gordon.csv', ['text'])

In [117]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Mark_Gordon.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Mark_Gordon.csv',encoding='utf-8')
csv = 'Mark_Gordon.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  should be absolutely ashamed that their police...
1  rt breaking sources tell abc news that trump t...
2  remember mark martin had his steering catch an...
3                                    good point mark
4  rt long before the brexit vote britain had bec...

Mary Throne

In [ ]:
tw.tweets(keywords="mary throne", to_screen=False, stream=False)

In [112]:
with open('/Users/niw0407/twitter-files/tweets.20181129-141122.json') as fp:
    json2csv(fp, 'Mary_Throne.csv', ['text'])

In [118]:
import csv
import pandas as pd
clean_tweet_texts = []
with open('Mary_Throne.csv') as csvfile:
    readCSV = csv.reader(csvfile, delimiter=',')
    i = 0
    next(readCSV)
    for row in readCSV:
        ++i
        clean_tweet_texts.append(clean_tweet(str(row)))
    print("Tweets cleaned.")

clean_df = pd.DataFrame(clean_tweet_texts,columns=['text'])
clean_df.to_csv('Mary_Throne.csv',encoding='utf-8')
csv = 'Mary_Throne.csv'
temp = pd.read_csv(csv,index_col=0)
temp.head()

Tweets cleaned.

                                                text
0  chicago watch the throne with mary queen of sc...
1  rt annual reminder ndid mary know nyes she kne...
2  rt speaking in love truth njesus christ was ou...
3  rt speaking in love truth njesus christ was ou...
4  chicago watch the throne with mary queen of sc...

# Section 3: Sentiment Analysis of Each Tweet (Angie)

NLTK Vader Sentiment Analyzer

In [ ]:
@author Angelina Urena

import csv

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
with open('FirstName_LastName.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    file = open("sample.txt","w")
    for row in csv_reader:
        if line_count == 0:
            print('this is the file')
            line_count += 1
        else:
            sid=SentimentIntensityAnalyzer()
            ss=sid.polarity_scores(row[0])
            for k in ss:
                file.write(repr(ss[k]))
                file.write(" ")
                line_count += 1
    file.close()

TextBlob's Sentiment Analyzer

In [ ]:
@author Angelina Urena
import csv
from textblob import TextBlob

with open('FirstName_LastName.csv', 'r') as csvfile:
    rows = csv.reader(csvfile)
    for row in rows:
        sentence = row[1]
        blob = TextBlob(sentence) 
        print blob.sentiment

Watson's Sentiment Analyzer

In [ ]:
@author Angelina Urena 

import requests
import json

def analyze_tone(text):
    username = 'your username'
    password = 'your password'
    watsonUrl = 'https://gateway.watsonplatform.net/tone-analyzer-beta/api/v3/tone?version=2016-05-18'
    headers = {"content-type": "text/plain"}
    data = text
    try:
        r = requests.post(watsonUrl, auth=(username,password),headers = headers,
         data=data)
        return r.text
    except:
        return False

def results(data):
    data = json.loads(str(data))
    print(data)
    for i in data['document_tone']['tone_categories']:
        print(i['category_name'])
        print("-" * len(i['category_name']))
        for j in i['tones']:
            print(j['tone_name'].ljust(20),(str(round(j['score'] * 100,1)) + "%").rjust(10))
        print()
    print()

def main():
    data = input("Enter text:")
    if len(data) >= 1:
        if data == 'q'.lower():
            exit
        results = analyze_tone(data)
        if results != False:
            results(results)
            exit
        else:
            print("Error")

main()

 Finding the total sentiment (JAVA)

In [ ]:
import java.io.File;
import java.io.FileNotFoundException;
import java.util.Scanner;
import java.io.IOException;

public class Sum{
    public static void main(String [] args) throws IOException{
        File file = new File("sample.txt");
        Scanner sc = new Scanner(file);
        int i=0;
        float sum=0;
        while(sc.hasNext()){
            i++;
            String s=sc.next();
            if(i==4){
                i=0;
                sum+=Float.parseFloat(s);
            }
        }
        System.out.println("sum: "+sum);
    }

# Section 4: Getting Positive Tweets to Create Voting Percentages (Josie)

NLTK

In [ ]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Sat Dec 15 19:24:06 2018

@author: josiewilliams
"""
import csv

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

with open('FirstName_LastName.csv') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    positive_count = 0
    
    file = open("sample.txt","w")
    for row in csv_reader:
        if line_count == 0:
            print('this is file')
            line_count += 1
        else:
            sid=SentimentIntensityAnalyzer()
            ss=sid.polarity_scores(row[0])
            #print(row[1])
            for k in ss:
                #print(k,ss[k])
                if (float(repr(ss[k])) > 0.0):
                    positive_count += 1
                    #file.write(repr(ss[k]))
                    #file.write(" ")
                line_count += 1
        #print(f'Processed {line_count} lines.')
    percentage = positive_count/line_count
    file.write(str(positive_count) + " / " + str(line_count))
    
    file.close()

TextBlob

In [ ]:
"""
Created on Sat Dec 15 19:24:06 2018

@author: josiewilliams
"""
import csv
from textblob import TextBlob

positive_count = 0;

with open('FirstName_LastName.csv', 'r') as csvfile:
    rows = csv.reader(csvfile)
    for row in rows:
        sentence = row[1]
        blob = TextBlob(sentence) 
        sentiment = blob.sentiment
        if (float(sentiment) > 0.0):
            positive_count += 1
    print positive_count

Watson

In [ ]:
"""
Created on Sat Dec 15 19:24:06 2018

@author: josiewilliams
"""

import requests
import json

def analyze_tone(text):
    username = 'your username'
    password = 'your password'
    watsonUrl = 'https://gateway.watsonplatform.net/tone-analyzer-beta/api/v3/tone?version=2016-05-18'
    headers = {"content-type": "text/plain"}
    data = text
    try:
        r = requests.post(watsonUrl, auth=(username,password),headers = headers,
         data=data)
        return r.text
    except:
        return False

def results(data):
    data = json.loads(str(data))
    print(data)
    for i in data['document_tone']['tone_categories']:
        print(i['category_name'])
        print("-" * len(i['category_name']))
        for j in i['tones']:
            print(j['tone_name'].ljust(20),(str(round(j['score'] * 100,1)) + "%").rjust(10))
        print()
    print()

def main():
    data = input("Enter text:")
    if len(data) >= 1:
        if data == 'q'.lower():
            exit
        results = analyze_tone(data)
        if results != False:
            results(results)
            exit
        else:
            print("Error")

main()